/* Header related style */
.header{
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
}

.banner .banner-image {
    border: 16px;
    height: 600px;
    flex-shrink: 0;
}
.1st-heading
.